<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkorbitBot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DarkorbitBot.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>0000000</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value>FREE</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>server</value>
            </setting>
            <setting name="RexActive" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="GuardKey" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoginCombobox" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchGameatprogramstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin1" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchGameAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivatedRex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRex" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="GuardKey1" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="RefreshGametick" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RefreshGameAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCB25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MCB50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UCB100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAB50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLT21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Xenomit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nanohull" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Part" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password2" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Username1" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Username2" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Password3" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Password4" serializeAs="String">
                <value />
            </setting>
            <setting name="Password1" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Username3" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Saved_Earned_stats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Uridium_Earned_Visual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Credit_Earned_Visual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Honor_Earned_Visual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Experience_Earned_Visual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_Earned_Visual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Visible_Account_Valid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_Account_Valid2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_Account_Valid3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectPalladiumticks" serializeAs="String">
                <value>15; 91</value>
            </setting>
            <setting name="collectbonusboxticks" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="collectcargosboxticks" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="prioritypalladium" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prioritybonusbox" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="prioritycargobox" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="checkbox_palladium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Desactive_all_formkey" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="PET_Selection" serializeAs="String">
                <value>Passive</value>
            </setting>
            <setting name="use_pet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="repair_pet_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maximum_pet_death" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maximum_pet_death_box" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="revive_after_x_death_pet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="revive_pet_x_seconds" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="jump_key" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="map_to_travel" serializeAs="String">
                <value />
            </setting>
            <setting name="FIRME" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="Rex_dead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Repair" serializeAs="String">
                <value />
            </setting>
            <setting name="License_check" serializeAs="String">
                <value>Your license here</value>
            </setting>
            <setting name="PalladiumBASE" serializeAs="String">
                <value />
            </setting>
            <setting name="palladiumCOLLECT" serializeAs="String">
                <value />
            </setting>
            <setting name="useHANGAR_changer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Use_Changer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="palladium53" serializeAs="String">
                <value />
            </setting>
            <setting name="email_license" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="password_license" serializeAs="String">
                <value>Your Password</value>
            </setting>
            <setting name="streuneralpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="loardakiaalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mordonalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="saimonalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="devolariumalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kristallinalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sibelonalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sibelonitalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kristallonalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="protegitalpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_update" serializeAs="String">
                <value>False</value>
            </setting>
        </DarkorbitBot.My.MySettings>
    </userSettings>
</configuration>
