<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkorbitBot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DarkorbitBot.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="RexActive" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="GuardKey" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoginCombobox" serializeAs="String">
                <value>Profil 1</value>
            </setting>
            <setting name="LaunchGameatprogramstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin1" serializeAs="String">
                <value>Auto login with :</value>
            </setting>
            <setting name="AutoLogin2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchGameAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivatedRex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRex" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="GuardKey1" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="RefreshGametick" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RefreshGameAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCB25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MCB50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UCB100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAB50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLT21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Xenomit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nanohull" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Part" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password2" serializeAs="String">
                <value />
            </setting>
            <setting name="Username1" serializeAs="String">
                <value />
            </setting>
            <setting name="Username2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password3" serializeAs="String">
                <value />
            </setting>
            <setting name="Password4" serializeAs="String">
                <value />
            </setting>
            <setting name="Password1" serializeAs="String">
                <value />
            </setting>
            <setting name="Username3" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_Earned_stats" serializeAs="String">
                <value>False</value>
            </setting>
        </DarkorbitBot.My.MySettings>
    </userSettings>
</configuration>